# conda install pytorch=1.11.0 torchvision=0.12.0 cudatoolkit=11.3 -c pytorch
# pip install git+https://github.com/facebookresearch/pytorchvideo.git
# pip install git+https://github.com/huggingface/transformers.git
# pip install video-transformers